.fourthcontainer
{
  height: 100vh;
}
.innerfourthcontainer
{
  width: 1200px;
  height: 561px;
  margin: auto;
  margin-top: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.description
{
  padding-top: 140px;
  
}
.description hr
{
 background-color: #FF7B52;
 border: 0;
 width: 94px;
 text-align: left;
 margin-left: 170px
}
.description h2
{
  width: 263px;
  height: 100px;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #FFFFFF;

}
.description p
{
  width: 351px;
  height: 60px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #FFFFFF;
  padding-left: 100px;
}
.description h6
{
  width: 120px;
  height: 24px;
  gap: 10px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #8D5CF6;
  padding-right: 130px;


}